<!-- <div>
  <label>{{ label }}</label>
  <input type="number" [formControl]="control" [min]="min" [max]="max" [placeholder]="placeholder">
  <div *ngIf="control.invalid && control.touched">
    <small *ngIf="control.errors?.required">This field is required.</small>
    <small *ngIf="control.errors?.min">Value must be at least {{min}}.</small>
    <small *ngIf="control.errors?.max">Value must be at most {{max}}.</small>
  </div>
</div> -->


<div class="mb-4 mt-6">
  <label class="block text-gray-700 text-sm font-semibold mb-2" htmlFor="name">{{label}}</label>
  <input
    class="text-sm appearance-none rounded w-full py-2 px-3 text-gray-700 bg-gray-100 leading-tight focus:outline-none focus:shadow-outline h-10"
    [formControl]="control" [min]="min" [max]="max" [placeholder]="placeholder" type="number" />

  <!-- <div *ngIf="control.invalid && control.touched">
          <small *ngIf="control.errors?.required">This field is required.</small>
      </div> -->
</div>